* {
  font-family: 'lato';
}
// ---------nav bar-------------
nav {
  background:black;
  color:white;
  overflow:hidden;
  li {
    list-style: none;
    float:left;
    margin:3%;
  }
}
.nav-left {
  float:left;
  width:30%;
  margin-left: 5%;
}
.nav-right {
  float:right;
  width:50%;
  .why {
    border:1px solid white;
    padding:10px;
  }
  .menu-border {
    border:1px solid transparent;
    padding:10px;
  }
}
.logo {
  height:100px;
}

// --------hero section-----------
.hero {
  background-image:url('../images/hero.jpg');
  height:700px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  h1 {
    color:white;
    font-size:48px;
    font-family: 'lato';
    font-weight: lighter;
    text-align: center;
    margin-top:7%;
  }
}

// ---------content section--------------
.images {
  text-align: center;
  img {
    width:33%;
  }
}
.content {
  margin:5%;
  font-size:24px;
  font-family:'lato';
  font-weight: 300;
  .partner {
    font-weight: bold;
    text-align: center;
  }
}
.images-2 {
  text-align: center;
  img {
    width:49.5%;
  }
}

// ------certifications and affiliations section--------
.affiliations {
  text-align: center;
  img {
    width:30%;
    margin:2%;
  }
  .img-row2 {
    img {
      width:15%;
    }
  }
}
h1 {
  font-size:50px;
  font-family: 'lato';
  font-weight: 300;
  // text-decoration: underline;
}
